:root {
    --c0: #fff;
    --c1: #EB74F9;
    --c2: #270A4A;
    --c3: #204C7D;
    --c4: #580B65;
    --c5: rgba(0,0,0,0);
    --c6: #9f9;
    --c7: #f22;
}
html { margin: 0; padding: 0; color: var(--c0); font-family: 'Courier New', Courier, monospace; }
body { 
    margin: 0; padding: 0; width: 100vw; height: 100vh;
    /* background-image: url("bg-hayny.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backgroundLayer {
    width: 100vw; height: 100vh; margin: 0; padding: 0;
    position: absolute; top: 0; left: 0; 
}
#bg0 {
    background-image: linear-gradient(var(--c3),var(--c4));
}
#bg1 {
    width: 200vw;
    height: 200vh;
    top: -50vh;
    left: -50vw;
    background-image: repeating-linear-gradient(0deg, black 2px, transparent 8px);
    transform: perspective(100px) rotateX(3deg);
    opacity: 0.2;
}
#bg2 {
    background-image: radial-gradient(circle at 50% 40%, transparent 70%, rgba(0,0,0,0.4));
}
.star {
    position: absolute;
    border-radius: 50%;
}
#uiContainer {
    position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; text-align: center;
}
p { margin: 0.4em; }
h1 { 
    color: var(--c1); 
    text-shadow: 5px 5px 5px black, 0 0 0.5em var(--c1);
}
#infoText {
    text-shadow: 2px 2px 3px var(--c2);
}
#gameContainer {
    padding: 0 1em;
    border-radius: 0.5em;
    max-width: 50vw;
    min-width: 20em;
    background-image: linear-gradient(var(--c1),var(--c4));
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    box-shadow: 10px 10px 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
table {
    border-collapse: collapse;
    margin: 0 4em;
}
.cell { 
    padding: 1em; 
    margin: 0; 
    width: 10vw;
    height: 5vh;
    transition: box-shadow 0.5s linear;
    text-shadow: 2px 2px 3px var(--c2);
    font-weight: 900;
    font-size: 1.1em;
}
.cell:hover:not(.filled) {
    box-shadow: inset 0 0 5px 1px white;
    cursor: pointer;
}
#cell2, #cell5, #cell8 {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#cell4, #cell5, #cell6 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
button {
    outline: none;
    border: 1px solid var(--c2);
    border-radius: 30%;
    background-color: hsl(0,0%,0%,0);
    color: #ccc;
    padding: 0.7em;
    transition: box-shadow 0.5s linear, color 0.5s linear, background-color 0.5s linear;
}
button:not(.selected) {
    border: 1px dashed var(--c2);
}
button:hover:not(.selected) {
    box-shadow: inset 0 0 5px 0 var(--c1);
    cursor: pointer;
    color: var(--c0);
}
button:active:not(.selected) {
    background-color: var(--c3);
    box-shadow: inset 0 0 5px 1px var(--c3);
    border: 1px solid var(--c2);
}
button.selected {
    background-color: var(--c3);
    box-shadow:  inset 0 0 5px 0 var(--c1);
    color: var(--c0);
}
button.newGame {
    border: none;
    box-shadow: 0 0 5px 1px var(--c2);
    color: var(--c0);
    transition: background-color 0.5s linear, box-shadow 0.5s linear;
}
button.newGame:hover {
    box-shadow: 0 0 10px 2px var(--c0);
}
button.newGame:active {
    background-color: var(--c3);
    border: none;
    box-shadow: 0 0 5px 1px var(--c0);
}

#planetContainer {
    position: absolute;
    height: 200vw;
    top: 50%;
    animation: spin 60s linear infinite;
}
.planet { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 10px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}

a { text-decoration: none; }
a:visited { color: var(--c0); }
a:hover { color: var(--c1); }
a:active { color: var(--c1); }